@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  font-size: 1rem;
  color: #111;
  text-align: center;
}

.app {
  background-color: blueviolet;
  min-height: 100vh;
  padding: 10px 0;
  position: relative;
}

#editor-wrapper {
  width: 85%;
  margin: 0 auto 1rem auto;
}

#editor-header,
#preview-header {
  background-color: violet;
  border: 1px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .4rem 1rem;
  font-weight: 600;
}

#editor,
#preview {
  width: 100%;
  min-height: 30vh; /* Also set by the useEffect hook on initial loads */
  padding: .5rem .5rem 1rem .5rem;
  border: 1px solid #333;
  border-top: none;
}

#editor {
  font-size: 1rem;
  outline: none;
}

#preview-wrapper {
  width: 95%;
  margin: auto;
}

/* The class hides the element it is applied
to relative to the .app section which is set
to "position: relative" */

.hide-section {
  position: absolute;
  left: 110%;
  bottom: 110%;
}

#preview {
  background-color: #fff;
  color: #333;
  text-align: left;
  line-height: 2;
  padding: .5rem 1rem 1.5rem 1rem;
}

a {
  color: blueviolet;
}

a:hover,
a:visited {
  color: violet;
}

p {
  margin-top: .5rem;
}

h1+p,
h2+p,
h3+p,
h4+p,
h5+p {
  margin-top: 1rem;
}

blockquote {
  width: 100%;
  margin: 1rem auto;
  background-color: violet;
  padding: .25rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-left: 5px solid blueviolet;
}

pre, 
code {
  background-color: #eee;
  padding: .3rem;
  overflow: scroll;
  margin: 1rem auto;
}

 pre {
   padding: .25rem;
 }

pre code {
  background-color: none;
}

img {
  max-width: 100%;
}

ul {
  padding: .5rem 1rem;
}

li {
  background-color: #eee;
  margin: .1rem 0;
  padding: .3rem .5rem;
}

li:nth-child(even) {
  background-color: #fff;
}

footer {
  font-size: .8rem;
  padding: .3rem 0;
  color: #fff;
}

footer a,
footer a:hover,
footer a:visited {
  color: #fff;
}

/************************************************
************** Responsive design ***************/
@media screen and (min-width: 320px) {
  #editor-wrapper {
    width: 80%;
  }

  #preview-wrapper {
    width: 90%;
  }

  blockquote {
    padding: .5rem 1rem;
  }

  pre, code {
    width: 90%;
  }

  ul {
    padding: .5rem 1.5rem;
  }

}

@media screen and (min-width: 480px) {
  #editor-wrapper {
    width: 70%;
  }

  #preview-wrapper {
    width: 80%;
  }

  blockquote {
    width: 90%;
  }

  pre {
   padding: .5rem 1rem;
  }
}
@media screen and (min-width: 768px) {
  #editor-wrapper {
    width: 60%;
  }

  #preview-wrapper {
    width: 70%;
  }

  blockquote {
    width: 85%;
    padding: 1rem 1.5rem;
  }

  pre,
  code {
    /* padding: .5 rem 1rem; */
    width: 85%;
    margin: 1rem auto;
  }
}

@media screen and (min-width: 1025px) {
  #editor-wrapper {
    width: 50%;
  }

  #preview-wrapper {
    width: 60%;
  }

  #editor,
  #preview {
    padding: .5rem 1rem 1.5rem 1rem;
  }

  blockquote {
    width: 70%;
    padding: 1.5rem 2rem;
  }

  pre {
    padding: 1rem 2rem;
    width: 70%;
  }

  ul {
    padding: .5rem 2rem;
  }
}